[tool.black]
line-length = 120
target-version = ["py310"]
skip-string-normalization = true

[tool.isort]
profile = "black"
line_length = 120
combine_as_imports = true
force_grid_wrap = 0
include_trailing_comma = true
multi_line_output = 3
src_paths = ["."]
